argon2-cffi==23.1.0
fastapi==0.111.0
loguru==0.7.2
pydantic==2.7.1
pydantic-settings==2.2.1
PyJWT==2.8.0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
tortoise-orm[accel,asyncpg]==0.20.1
uvicorn[standard]==0.29.0
