argon2-cffi==23.1.0
fastapi==0.115.4
loguru==0.7.2
pydantic==2.9.2
pydantic-settings==2.6.1
PyJWT==2.9.0
python-dotenv==1.0.1
python-multipart==0.0.17
pytz==2024.2
tortoise-orm[accel,asyncpg]==0.21.7
uvicorn[standard]==0.32.0
